<div class="page-content" style="min-height: 717px;height: 975px;margin-left: 0px;">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN THEME PANEL -->
    <!-- END THEME PANEL -->

    <div class="page-content" style="min-height: 717px;height: 905px;margin-left: 0px;padding-top: 0px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->

        <div class="page-content" style="min-height: 717px;margin-left: 0px;">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->
            <!-- END THEME PANEL -->

            <div class="page-content-wrapper" style="
    width: 900px;
">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height: 717px;margin-left: 0px;width: 1011px;">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    <!-- END THEME PANEL -->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a>Anasayfa</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Yeni İşveren</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">

                        </div>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title">
                        <small></small>
                    </h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-6 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light bordered" style="
    width: 442px;
">
                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <i class="icon-settings font-red-sunglo"></i>
                                        <span class="caption-subject bold uppercase">
                                            YENİ İŞVEREN
                                        </span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <form role="form">
                                        <div class="form-body">

                                            <div class="form-group">
                                                <label>E-Mail Adresiniz</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">

                                                    </span>
                                                    <input type="text" class="form-control" placeholder="E-Mail Adresiniz">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Şifreniz</label>
                                                <div class="input-group">

                                                    <span class="input-group-addon">

                                                    </span><input type="password" class="form-

control" id="exampleInputPassword1" placeholder="Şifreniz">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Cep Telefonu Numaranız</label>
                                                <div class="input-icon right">

                                                    <input type="text" class="form-control" placeholder="Cep Telefonu Numaranız">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Firma Adı</label>
                                                <div class="input-icon right">

                                                    <input type="text" class="form-control" placeholder="Firma Adı">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Sektör Seçiniz</label>
                                                <select class="form-control">

                                                    <option>Option1</option>
                                                    <option>Option2</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>İl Seçiniz</label>
                                                <select class="form-control">
                                                    <option>İl1</option>
                                                    <option>İl2</option>
                                                    <option>İl3</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>İlçe Seçiniz</label>
                                                <select class="form-control">
                                                    <option>İlçe1</option>
                                                    <option>İlçe2</option>
                                                    <option>İlçe3</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Adres</label>
                                                <div class="input-icon right">

                                                    <input type="text" class="form-control" placeholder="Adres">
                                                </div>
                                            </div>
















                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn

blue">
                                                Kaydet
                                            </button>
                                            <button type="button" class="btn default">
                                                İptal

                                                Et
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>







                        </div>

                    </div>
                    <div class="row ">

                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>