
@{
    ViewBag.Title = "HesapAyarlarim";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}

<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Hesap Ayarları</h1>
        <p class="lead text-center">Bilgilerinizi güncelleyin</p>
    </div>

    <div class="container">
        <form action="#">
            <br />
            <div class="row">
               
                    <label class="col-md-1" style="padding:5px ;margin-left:35px">Kullanıcı adı</label>
               
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="kullanici_adiniz">
                </div>

          
                <label class="col-md-1" style="padding:5px ;margin-left:35px">E-posta Adresi</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="isim@eposta.com">
                </div>

            </div>
          <br />
                <div class="row">

                    <label class="col-md-1"  style="padding:5px ;margin-left:35px">Ad</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Adınız">
                    </div>


                    <label class="col-md-1"  style="padding:5px ;margin-left:35px">Soyad</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Soyadınız">
                    </div>

                </div>


            <br />

                <div class="button-group">
                    <div class="action-buttons">
                        <button class="btn btn-success">Değişiklikleri Kaydet</button>
                    </div>
                </div>

</form>

    </div>

</header>
<!-- END Page header -->
