
@model IEnumerable<KariyerPortali.Admin.Controllers.CityController>
@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>


<!--<![endif]-->
<!-- BEGIN HEAD -->

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index","City")" class="nav-link ">Tanımlamalar</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Yeni Şehir</span>
            </li>
        </ul>

    </div>
 <br />
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered" style="width:300px;">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">YENİ ŞEHİR EKLEME</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">


                           
                            <div class="form-group">
                                <label>Şehir Adı</label>
                                <div class="input-icon right">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Gönder</button>
                            <button type="button" class="btn default">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
    <!-- BEGIN SAMPLE FORM PORTLET-->




