@{
    Layout = null;
}
<html>
<head>
 <title>Deneme</title>
</head>
<body>
    <iframe src="http://connect.kliksoft.net/rh/?launcher=false&guestname=Murat%20Demirci" name="embed_meeting_room_open" width="1000" height="800" scrolling="auto"></iframe>
</body>
</html>
