       <!-- BEGIN SAMPLE FORM PORTLET-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        table, td, th {
            border:none;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    </style>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/Resume">Özgeçmişler</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Özgeçmiş Detayları</span>
            </li>
        </ul>
        <div class="page-toolbar">

        </div>
    </div>
    <br />
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-md-4">
                <img src="" />
            </div>
            <div class="col-md-8">
                <h1 class="page-title"><strong>Eray Can Bıkmaz</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">local_phone</i>
                            <span class="caption-subject"><strong>İletişim Bilgileri</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label><strong>E-Posta :</strong> eraycanbikmaz@gmail.com</label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Adres Bilgileri :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Ev Telefonu :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Cep Telefonu :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Web Sayfası :</strong> </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">person</i>
                            <span class="caption-subject"><strong>Kişisel Bilgiler</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label><strong>Medeni Durumu :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Uyruk :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Askerlik Durumu :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>TC Kimlik No :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Doğum Tarihi :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Doğum Yeri :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Sürücü Belgesi :</strong> </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">info</i>
                            <span class="caption-subject"><strong>Özet Bilgi</strong></span>
                        </div>

                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">work</i>
                            <span class="caption-subject"><strong>İş Deneyimleri</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label><strong>Toplam Tecrübe :</strong> </label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Çalışma Durumu :</strong> </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">school</i>
                            <span class="caption-subject"><strong>Eğitim Bilgileri</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
                            <label><strong>Eğitim Durumu :</strong> </label>
                        </div>
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label><strong>Lisans :</strong> </label><br />
                                    <label><strong>02.06.2010-20.02.2016</strong></label>
                                </div>
                                <div class="form-group">
                                    <label><strong>Lise :</strong> </label><br />
                                    <label><strong>02.06.2010-20.02.2016</strong></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">public</i>
                            <span class="caption-subject"><strong>Yabancı Dil</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="lg-blank">&nbsp;</th>
                                    <th>Okuma</th>
                                    <th>Yazma</th>
                                    <th>Konuşma</th>
                                </tr>

                                <tr>
                                    <td class="lang-title"><strong>  İngilizce</strong></td>
                                    <td>İleri</td>
                                    <td>İleri</td>
                                    <td>İyi</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td class="lang-title"><strong>  Almanca</strong></td>
                                    <td>İleri</td>
                                    <td>İleri</td>
                                    <td>İyi</td>
                                </tr>

                                <tr>
                                    <td class="lang-title"><strong>  Fransızca</strong></td>
                                    <td>İleri</td>
                                    <td>İleri</td>
                                    <td>İyi</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">color_lens</i>
                            <span class="caption-subject"><strong>Yetkinlikler</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
                            <div class="row">
                                <div class="col-md-3">
                                    <label><strong>Bilgisayar Bilgileri</strong> </label>
                                </div>
                                <div class="col-md-9">
                                    "
                                    Python
                                    "<br />
                                    "
                                    C#
                                    "<br />

                                </div>
                            </div>

                        </div>
                        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
                            <label><strong>Sertifika Bilgileri</strong> </label>
                        </div>
                        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
                            <div><strong>Sınav Bilgileri</strong> </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    "
                                    TOEFL
                                    "<br />
                                    "
                                    ALES
                                    "<br />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
                            <label><strong>Yetenekler</strong> </label>
                        </div>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">poll</i>
                            <span class="caption-subject"><strong>Seminerler ve Kurslar</strong></span>
                        </div>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">library_books</i>
                            <span class="caption-subject"><strong>Burslar ve Projeler</strong></span>
                        </div>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">info_outline</i>
                            <span class="caption-subject"><strong>Ek Bilgiler</strong></span>
                        </div>
                    </div>
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">account_box</i>
                            <span class="caption-subject"><strong>Referanslar</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="material-icons">build</i>
                            <span class="caption-subject"><strong>Özgeçmiş İşlemleri</strong></span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <a href=""><strong>PDF Olarak Görüntüle</strong></a>
                                </div>
                                <div class="form-group">
                                    <a href=""><strong>Yazdır</strong></a>
                                </div>
                                <div class="form-group">
                                    <a href=""><strong>E-Posta ile Gönder</strong></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>