       <!-- BEGIN SAMPLE FORM PORTLET-->
<div class="row">
    <div class="col-md-2">
        <img src="" />
    </div>
    <div class="col-md-10">
        <h1 class="page-title">Eray Can Bıkmaz</h1>
    </div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject"> İletişim Bilgileri</span>
        </div>

    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="form-group">
                    <label>E-Posta :eraycanbikmaz@gmail.com</label>
                </div>
                <div class="form-group">
                    <label>Adres Bilgileri :</label>
                </div>
                <div class="form-group">
                    <label>Cep Telefonu :</label>
                </div>
                </div>
            </form>
        </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Kişisel Bilgiler</span>
        </div>

    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="form-group">
                    <label>Medeni Durumu :</label>
                </div>
                <div class="form-group">
                    <label>Uyruk :</label>
                </div>
                <div class="form-group">
                    <label>Askerlik Durumu :</label>
                </div>
                <div class="form-group">
                    <label>TC Kimlik No :</label>
                </div>
                <div class="form-group">
                    <label>Doğum Tarihi :</label>
                </div>
                <div class="form-group">
                    <label>Doğum Yeri :</label>
                </div>
                <div class="form-group">
                    <label>Sürücü Belgesi :</label>
                </div>
            </div>
        </form>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Özet Bilgi</span>
        </div>

    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">İş Deneyimleri</span>
        </div>

    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="form-group">
                    <label>Toplam Tecrübe :</label>
                </div>
                <div class="form-group">
                    <label>Çalışma Durumu :</label>
                </div>
            </div>
        </form>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Eğitim Bilgileri</span>
        </div>

    </div>
    <div class="portlet-body form">
        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
            <label>Eğitim Durumu :</label>
        </div>
        <form role="form">
            <div class="form-body">
                <div class="form-group">
                    <label>Lisans :</label>
                </div>
                <div class="form-group">
                    <label>Lise :</label>
                </div>
            </div>
        </form>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Yabancı Dil</span>
        </div>

    </div>
    <div class="portlet-body form">
            <table>
                <tbody>
                    <tr>
                        <th class="lg-blank">&nbsp;</th>
                        <th class="lg-blank">&nbsp;</th>
                        <th>Okuma</th>
                        <th>Yazma</th>
                        <th>Konuşma</th>
                        <th class="lg-blank">&nbsp;</th>
                    </tr>

                    <tr>
                        <td class="lang-title"><strong>  İngilizce</strong></td>
                        <td>&nbsp;</td>
                        <td>İleri</td>
                        <td>İleri</td>
                        <td>İyi</td>
                    </tr>

                    <tr>
                    <tr>
                        <td class="lang-title"><strong>  Almanca</strong></td>
                        <td>&nbsp;</td>
                        <td>İleri</td>
                        <td>İleri</td>
                        <td>İyi</td>
                    </tr>

                    <tr>
                        <td class="lang-title"><strong>  Fransızca</strong></td>
                        <td>&nbsp;</td>
                        <td>İleri</td>
                        <td>İleri</td>
                        <td>İyi</td>
                    </tr>

                </tbody>
            </table>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Yetkinlikler</span>
        </div>

    </div>
    <div class="portlet-body form">
        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
            <div class="row">
                <div class="col-md-3">
                    <label>Bilgisayar Bilgileri </label>
                </div>
                <div class="col-md-9">
                    "
                    Python
                    "<br />
                    "
                    C#
                    "<br />

                </div>
            </div>

        </div>
        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
            <label>Sertifika Bilgileri </label>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
            <div>Sınav Bilgileri </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    "
                    TOEFL
                    "<br />
                    "
                    ALES
                    "<br />
                </div>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eaeaea;">
            <label>Yetenekler </label>
        </div>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Seminerler ve Kurslar</span>
        </div>
    </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Burslar ve Projeler</span>
        </div>
        </div>
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-note font-dark"></i>
                <span class="caption-subject">Ek Bilgiler</span>
            </div>
            </div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject">Referanslar</span>
        </div>
    </div>
        </div>
</div>