@{
    ViewBag.Title = "Create";
}

<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/Home/Index">Tanımlamalar</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Yeni Ülke</span>
            </li>
        </ul>

    </div>
    <br />
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <h1 class="page-title">
                        Yeni Ülke
                    </h1>

                </div>

                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">


                            <div class="form-group">
                                <label>Ülke Adı</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" />

                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Ekle</button>
                            <button type="button" class="btn default">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
    <!-- BEGIN SAMPLE FORM PORTLET-->


