
@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>


<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<!-- END HEAD -->
<!-- BEGIN PAGE BAR -->

<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Language/Index">Tüm Diller</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Düzenle</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
