@model IEnumerable<KariyerPortali.Web.ViewModels.ResumeViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}

<ul>
    @foreach (var item in Model)
    {
        <li>@item.CvName</li>
    }
</ul>