@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<meta charset="utf-8" />
<title>@ViewBag.Title-Kariyer Portalı</title>
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/Job">İş İlanları</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Yeni İş İlanı</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<form role="form">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Yeni İş İlanı</span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 ">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">

                            <!--İLAN VERİLİŞ TARİHİ O AN ALINACAK-->



                            <div class="portlet-body form">

                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Firma Adı</label>
                                        <select class="form-control">
                                            <option>ad1</option>
                                            <option>ad2</option>
                                            <option>ad3</option>
                                            <option>ad4</option>
                                            <option>ad5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Lokasyon</label>
                                        <select class="form-control">
                                            <option>İstanbul/Avr</option>
                                            <option>İstanbul/Asya</option>
                                            <option>Ankara</option>
                                            <option>İzmir</option>
                                            <option>Gaziantep</option>
                                            <option>Antalya</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Çalışma Şekli</label>
                                        <select class="form-control">
                                            <option>Tam Zamanlı / Full Time</option>
                                            <option>Yarı Zamanlı / Part Time</option>
                                            <option>Stajer</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Alan</label> @*Experiance*@
                                        <select class="form-control">
                                            <option>Yazılım</option>
                                            <option>Donanım</option>
                                            <option>Network</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Sosyal / Yan Haklar</label>
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox">
                                                Yemek
                                                <input type="checkbox" value="1" name="test" />
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox">
                                                Servis
                                                <input type="checkbox" value="1" name="test" />
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox">
                                                Sigorta
                                                <input type="checkbox" value="1" name="test" />
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- END SAMPLE FORM PORTLET-->
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-body form">

                                <div class="form-body">

                                    <div class="form-group">
                                        <label>İş Tanımı</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Aranan Sorumluluklar</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Aranan Nitelikler</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn blue">Gönder</button>
                                        <button type="button" class="btn default">Çıkış</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

