
@{
    ViewBag.Title = "Create";
}

<h2>Sosyal Haklar</h2>
<!DOCTYPE html>
<meta charset="utf-8" />
<title>@ViewBag.Title-Kariyer Portalı</title>
<br />
<div class="page-bar">
    
    <div class="page-toolbar">
    </div>
</div>
<br />
<form role="form">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Yenİ Sosyal Hak</span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-12 " >
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Sosyal Hak</label>
                                        <input type="text" class="form-control"/>
                                    </div>
                                    
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue">Gönder</button>
                                        <button type="button" class="btn default">Çıkış</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>